@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-titulo: 'passion one';
    --fonte-texto: 'sriracha';
}

* {
    margin: 0px;
}
header {
    background-color: black;
    height: 245px;
    margin: 0px;
    color: white;
    text-align: center;
}

header > h1 {
    margin: 0px;
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 8em;
}

section > p {

    height: 750px;
    font-family: var(--fonte-texto);
    text-align: left center;
    font-size: 2.8em;
    padding-left: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.527);
}

.joaninha {
    color: white;
    background-image: url(../imagens/background001.jpg);
    background-position: center;
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.cartas {
    background: black url(../imagens/background002.jpg) center center no-repeat fixed;
}

img {
    height: 300px;
    width: 300px;
}


